<h1> {{title}} </h1>

<input type="text" placeholder="Add something to the list" #newTodos />
<button (click)="addTodos(newTodos.value); newTodos.value=''">Add</button>
<table>
  <tr>
    <th>Label</th>
    <th>Priority</th>
    <th>Actions</th>
    <th>Completed</th>
  </tr>
  <tr *ngFor="let todos of todo">
    <td>{{todos.Label}}</td>
    <td>{{todos.Priority}}</td>
    <td>
      <button (click)="deleteTodos(todos)">Remove</button>
    </td>
    <td>
      <input class="toggle" type="checkbox"  />
    </td>
  </tr>
</table>